<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styling/index.css') }}">
</head>
<body>
    <h1>BasketBall Database</h1>
    <h2>{{ username }}</h2>
    <hr>
    <a href="/login">Log In</a>
    <br>
    <a href="/logout">Log Out</a>
    <br>
    <a href="/register">Sign Up</a>
    <br>
    <a href="/accounts">Move to User Accounts (ADMIN ONLY)</a>
    <hr>
    <a href="/teams">Move to Florida Division 1 Teams</a>
    <br>
    <a href="/customTeam">Manage your Custom Team</a>
    <br>
</body>
</html>