<!DOCTYPE html>
<html>
<head>
    <title>Team Information</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styling/index.css') }}">
</head>
<body>
    <h1>BasketBall Database</h1>
    <hr>
    <div class="span">
        <form method="POST">
            <label for="type">Search By:</label>
            <select name="type" id="type">
              <option value="School">School</option>
              <option value="Mascot">Mascot</option>
              <option value="Wins">Wins</option>
              <option value="Loss">Losses</option>
            </select>
            <input type="text" name="query" placeholder="Enter Search Here">
            <button type="submit">Search</button>
        </form>
        <button onclick="location.href='/teams'">Refresh Page</button>
    </div>
    <hr>
        <div class="table-container">
            <table>
            <thead>
            <tr>
                <th>School</th>
                <th>Mascot</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Win/Loss Ratio</th>
                <th><a href="/orderTeams">Ranking</a></th>
                <th># of Players</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for row in data %}
            {% if row[4] != 0 %}
            {% set ratio = row[3] / row[4] %}
            {% else %}
            {% set ratio = row[3] %}
            {% endif %}
                <tr>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>{{'%0.2f'| format(ratio|float)}}</td>
                    <td>{{ row[5] }}</td>
                    <td>{{ row[6] }}</td>
                    <td><a href="/players?id={{ row[0] }}">View Players</a></td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
    </div>
    <hr>
    <a href="/">Return to Home Page</a>
    <hr>
    <a href="/addTeam">Add Team(ADMIN ONLY)</a>
    <br>
    <a href="/addPlayer">Add Player(ADMIN ONLY</a>
    <br>
    <a href="/updateStats">Record a Game(ADMIN ONLY)</a>
</body>
</html>
