<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Team</title>
</head>
<body>
    <h1>Add Team</h1>
    <form method="POST">
      <input type="text" name="School" placeholder="School Name">
      <br>
      <input type="text" name="Mascot" placeholder="Mascot Name">
      <br>
      <input type="text" name="Wins" placeholder="Current Wins">
      <br>
      <input type="text" name="Losses" placeholder="Current Losses">
      <br>
      <button type="submit">Add Team</button>
    </form>
</body>
</html>